@import '../../../styles/variables';

.btn_container{
  background-color: $primary-color;
  padding: 1rem 2rem;
  cursor: pointer;

  .btn_styleSm{
    text-decoration: none;
    color: $white;
    display: none;
    align-items: center;
    gap: 10px;

    .moreIcon{
      filter: $white-Iconcolor;
    }
  }
  .btn_style{
    text-decoration: none;
    color: $white;
    display: flex;
    align-items: center;
    gap: 10px;

    .moreIcon{
      filter: $white-Iconcolor;
    }
  }
  &:hover{
    border: 1px solid $primary-color;
    background: transparent;

    .btn_style{
      color: $primary-color;
    }

    .moreIcon{
      filter: $primary-Iconcolor;
    }
  }
  

}

@media (max-width:630px){
  .btn_container{
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 250px){
  .btn_container{
    .btn_style{
      display: none;
    }
    .btn_styleSm{
      display: flex;
    }
  }
}

