@import '../../../styles/variables';


.btn_style{
  width: 120px;
  text-decoration: none;
  color: $primary-color;
  display: flex;
  align-items: center;
  gap: 10px;
  &:hover{
    border-bottom: 1px solid $primary-color;
  }

}


.moreIcon{
  filter: $primary-Iconcolor;
}
