@import '../../styles/variables';

.blogsMain{

  .hero{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 3rem;  
  }
  .blogsInner{
    padding: 0 15rem;

    .blogsGrid{
      display: grid;
      grid-template-columns: repeat(2,auto);
      grid-template-rows: 1fr;      
      justify-content: space-between;
      gap: 5rem;
      margin-bottom: 6rem;
      position: relative;

      .card{
        border-bottom:1px solid $gray;

        //2 və 1 child üçün
        // &:nth-last-child(-n+3){
        //   border: none;
        // }  

        //3 child üçün
        // &:nth-last-child(-n+1){
        //   border: none;
        // }

        //4 child üçün
        &:nth-last-child(-n+2){
          border: none;
        }

      }

      .card2{
        border-bottom:1px solid $gray;
        &:nth-last-child(-n+3){
          border: none;
        }  
      }

      .card3{
        border-bottom:1px solid $gray;
        &:nth-last-child(-n+1){
          border: none;
        }
      }

      .divider{
        width: 2px;
        height: 100%;
        background-color: $light-gray;
        position: absolute;
        left: 50%;
      }
    }

    .blogsGridSm{
      display: none;
      grid-template-columns: repeat(2,auto);
      grid-template-rows: 1fr;      
      justify-content: space-between;
      gap: 5rem;
      margin-bottom: 6rem;
      position: relative;

      .card{
        border-bottom:1px solid $gray;

        //2 və 1 child üçün
        // &:nth-last-child(-n+3){
        //   border: none;
        // }  

        //3 child üçün
        // &:nth-last-child(-n+1){
        //   border: none;
        // }

        //4 child üçün
        &:nth-last-child(-n+2){
          border: none;
        }

      }

      .card2{
        border-bottom:1px solid $gray;
        &:nth-last-child(-n+3){
          border: none;
        }  
      }

      .card3{
        border-bottom:1px solid $gray;
        &:nth-last-child(-n+1){
          border: none;
        }
      }

      

      .divider{
        width: 2px;
        height: 100%;
        background-color: $light-gray;
        position: absolute;
        left: 50%;
      }


    }

      }
    
  }


  @media (max-width:2160px){
    .blogsMain{

      .blogsInner{
        padding: 0 5rem;
      }
      .blogsGrid{
        gap: 2rem;
      }
    }
  }

  // @media (max-width:1440px){
  //   .blogsMain{

  //     .blogsInner{
  //       padding: 0 5rem;
  //     }
  //     .blogsGrid{
  //       gap: 2rem;
  //     }
  //   }
  // }

  
  @media (max-width: 1040px){
    .blogsMain{
      .blogsInner{
        padding: 0 2rem;
        .latestBlog{
          display: none;
        }
        .blogsGrid{
          display: none;
        }
        .blogsGridSm{
          width: 100%;
          display: flex;
          flex-direction: column;

          .divider{
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 300px){
    .blogsMain{
      .blogsInner{
        padding: 0 0.5rem;
      }
    }
  }


  @media (min-width:2561px){
  .blogsMain{
    width: 60vw;
    margin: 0 auto

  }}
