.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  padding: 121px 113px 9px 114px;
}
.footerContainer .innerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.footerContainer .innerContainer .subscribeContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}
.footerContainer .innerContainer .subscribeContainer .footerHeader {
  font-size: 43px;
  font-weight: 400;
  color: #fffefe;
}
.footerContainer .innerContainer .subscribeContainer .input .footerEmail {
  width: 261px;
  height: 36px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.7411764706);
  margin-right: 20px;
  padding-left: 10px;
  color: white;
}
.footerContainer .innerContainer .subscribeContainer .input .footerEmail ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7411764706);
  font-weight: 400;
}
.footerContainer .innerContainer .subscribeContainer .input .footerEmail ::placeholder {
  color: rgba(255, 255, 255, 0.7411764706);
  font-weight: 400;
}
.footerContainer .innerContainer .subscribeContainer .input .footerSubmit {
  height: 36px;
  background-color: #01AB8D;
  color: #212121;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 21px;
  border: none;
  border-radius: 10px;
}
.footerContainer .linksContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerContainer .footerText {
  margin-top: 152px;
  font-size: 12px;
  color: #9C9C9C;
}

@media (max-width: 1310px) {
  .footerContainer .innerContainer .subscribeContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
  }
}
@media (max-width: 1024px) {
  .footerContainer {
    padding: 121px 30px 9px 30px;
  }
  .footerContainer .footerHeader {
    width: 500px;
  }
}
@media (max-width: 912px) {
  .footerContainer {
    padding: 110px 30px 9px 30px;
  }
  .footerContainer .subscribeContainer {
    margin-bottom: 100px;
    flex-direction: column;
  }
  .footerContainer .footerHeader {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 630px) {
  .footerContainer {
    padding: 1.5rem 2rem 9px 2rem;
  }
  .footerContainer .innerContainer .subscribeContainer {
    width: 70%;
  }
  .footerContainer .innerContainer .subscribeContainer .footerHeader {
    width: -moz-max-content;
    width: max-content;
  }
  .footerContainer .innerContainer .subscribeContainer .footerHeader {
    font-size: 32px;
  }
  .footerContainer .innerContainer .subscribeContainer .input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footerContainer .innerContainer .subscribeContainer .input .footerEmail {
    width: 100%;
    height: 36px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7411764706);
    margin: 0px;
    color: white;
  }
  .footerContainer .innerContainer .subscribeContainer .input .footerEmail ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7411764706);
    font-weight: 400;
  }
  .footerContainer .innerContainer .subscribeContainer .input .footerEmail ::placeholder {
    color: rgba(255, 255, 255, 0.7411764706);
    font-weight: 400;
  }
  .footerContainer .innerContainer .subscribeContainer .input .footerSubmit {
    width: 100%;
  }
  .footerContainer .innerContainer .linksContainer {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
@media (max-width: 540px) {
  .footerContainer .innerContainer .subscribeContainer {
    margin-bottom: 4rem;
    gap: 0;
  }
  .footerContainer .innerContainer .subscribeContainer .footerHeader {
    width: 100%;
    font-size: 26px;
  }
  .footerContainer .innerContainer .subscribeContainer .input {
    gap: 1rem;
  }
  .footerContainer .linksContainer {
    padding: 0 4rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
  }
}
@media (max-width: 430px) {
  .footerContainer .innerContainer .subscribeContainer .footerHeader {
    font-size: 26px;
  }
  .footerContainer .innerContainer .subscribeContainer .input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footerContainer .innerContainer .subscribeContainer .input .footerEmail {
    width: 100%;
    height: 36px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7411764706);
    margin: 0px;
    color: white;
  }
  .footerContainer .innerContainer .subscribeContainer .input .footerEmail ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7411764706);
    font-weight: 400;
  }
  .footerContainer .innerContainer .subscribeContainer .input .footerEmail ::placeholder {
    color: rgba(255, 255, 255, 0.7411764706);
    font-weight: 400;
  }
  .footerContainer .innerContainer .linksContainer {
    padding: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
  }
}
@media (max-width: 344px) {
  .footerContainer .innerContainer .subscribeContainer .footerHeader {
    font-size: 18px;
  }
  .footerContainer .innerContainer .subscribeContainer .input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footerContainer .innerContainer .subscribeContainer .input .footerEmail {
    width: 100%;
    height: 36px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7411764706);
    margin: 0px;
    color: white;
  }
  .footerContainer .innerContainer .subscribeContainer .input .footerEmail ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7411764706);
    font-weight: 400;
  }
  .footerContainer .innerContainer .subscribeContainer .input .footerEmail ::placeholder {
    color: rgba(255, 255, 255, 0.7411764706);
    font-weight: 400;
  }
  .footerContainer .innerContainer .linksContainer {
    padding: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
  }
}/*# sourceMappingURL=footerStyle.module.css.map */